    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/scripts/stopwatch.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
